#board {
    background-color: limegreen;
    /*outline: 1px solid blue;*/
    height: 100vh;
}

.player {
    position: absolute;
    background-color: rgb(23, 162, 113);
    height: 20px; /*to do: remove*/
    width: 120px;
}

.obstacle {
    position: absolute;
    background-color: rgb(226, 14, 71);
    height: 20px;
    width: 120px;
}